<template name="studentdetailhistory">
    <div id="student-history">
        {{> studentheader studentID=studentID}}
        <div id="history-wrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="tdbutton">&nbsp;</th>
                        <th class="date" scope="col">Fecha</th>
                        <th scope="col">Concepto</th>
                        <th class="charge" scope="col">Gasto</th>
                        <th class="charge" scope="col">Pago</th>
                        <th class="tdbutton">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each history}}
                        <tr class="needs-validation" novalidate>
                            <td class="tdbutton">
                                <button type="button" data-type="delete" class="btn btn-default btn-sm">
                                    <i class="far fa-times-circle"></i>
                                </button>
                            </td>
                            {{#if editMode}}
                                <td>
                                    <input name="datepicker" type="date" class="form-control"
                                        value="{{filterDate date true}}" max="{{filterDate date true}}" required>
                                </td>
                                <td>
                                    <input name="concept" type="text" class="form-control" value="{{concept}}" required>
                                </td>
                                <td>
                                    <label class="form-check-label" for="edit-type-charge-{{_id}}">Gasto</label>
                                    <input type="radio" id="edit-type-charge-{{_id}}" name="edit-type-{{_id}}"
                                        value="charge" checked="{{isCharge charge}}">
                                    <br>
                                    <label class="form-check-label" for="edit-type-pay-{{_id}}">Pago</label>
                                    <input type="radio" id="edit-type-pay-{{_id}}" name="edit-type-{{_id}}" value="pay"
                                        checked="{{isPay charge}}">
                                </td>
                                <td>
                                    <input name="charge" type="number" class="form-control" value="{{charge}}" required>
                                </td>

                                <td class="tdbutton">
                                    <button type="button" data-type="save" class="btn btn-default btn-sm">
                                        <i class="far fa-save"></i>
                                    </button>
                                </td>
                            {{else}}
                                <td class="date">{{filterDate date false}}</td>
                                <td>{{concept}}</td>
                                <td class="charge">{{filterCharge '+' charge}}</td>
                                <td class="charge">{{filterCharge '-' charge}}</td>
                                <td class="tdbutton">
                                    <button type="button" data-type="edit" class="btn btn-default btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                            {{/if}}
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="6" class="center">Este estudiante no tiene historial</td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" style="color: {{totalColor}};">{{totalString}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="student-history-controls">
            <button id="print-history" type="button" class="btn btn-primary btn-md">Imprimir</button>
            <button id="close-history" type="button" class="btn btn-primary btn-md">Cerrar</button>
        </div>
    </div>
</template>
