<template name="gradelist">
    <div class="form-group">
        <label for="{{tagid}}">Grado :</label>
        <select id="{{tagid}}" class="form-control" size="{{#if multiple}}5{{else}}false{{/if}}" multiple="{{multiple}}"
            required={{required}}>
            <option value="" selected="{{multiple}}">--</option>
            {{#with list}}
                <optgroup label="Prescolar">
                    {{#each prescolar}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                </optgroup>
                <optgroup label="Primaria">
                    {{#each primaria}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                </optgroup>
                <optgroup label="Secundaria">
                    {{#each secundaria}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                </optgroup>
            {{/with}}
        </select>
    </div>
</template>
