<template name="addStudent">
    <!-- <label for="student-search">Estudiante</label>
    <input id="student-search" type="text"> -->
    <div id="add-student" class="needs-validation" novalidate>
        <h1>Information del Estudiante</h1>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-fullname">Nombre Completo:</label>
                    <input id="student-fullname" type="text" class="form-control" tabindex="1" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-phone">Celular:</label>
                    <input id="student-phone" type="text" class="form-control" tabindex="2">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-email">Correo Electronico:</label>
                    <input id="student-email" type="text" class="form-control" tabindex="3">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                {{> gradelist multiple=false required=true tagid="student-grade"}}
            </div>
            <div class="col-md-3 offset-md-3">
                <button type="button" id="student-close" class="btn btn-default btn-md" tabindex="6">Cancelar</button>
            </div>
            <div class="col-md-3 ">
                <button type="button" id="student-save" class="btn btn-primary btn-md" tabindex="7">Guardar</button>
            </div>
        </div>
    </div>
</template>
