<template name="addStudent">
    <!-- <label for="student-search">Estudiante</label>
    <input id="student-search" type="text"> -->
    <div id="add-student" class="needs-validation" novalidate>
        <h1>Information del Estudiante</h1>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-name">Primer Nombre</label>
                    <input id="student-name" type="text" class="form-control" tabindex="1" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-middle">Segundo Nombre</label>
                    <input id="student-middle" type="text" class="form-control" tabindex="2">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-last1">Primer Apellido</label>
                    <input id="student-last1" type="text" class="form-control" tabindex="3" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student-last2">Segundo Apellido</label>
                    <input id="student-last2" type="text" class="form-control" tabindex="4">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                {{> gradelist multiple=false required=true tagid="student-grade"}}
            </div>
            <div class="col-md-3 offset-md-3">
                <button type="button" id="student-close" class="btn btn-default btn-md" tabindex="6">Cancelar</button>
            </div>
            <div class="col-md-3 ">
                <button type="button" id="student-save" class="btn btn-primary btn-md" tabindex="7">Guardar</button>
            </div>
        </div>
    </div>
</template>
